@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Colors
$red: #751113;
$green: #014421;
$black: #101010;
$white: #fff;

// Typography
// $font-sans: 'Helvetica Neue', Arial, sans-serif;
// $font-size-base: 16px;
// $font-weight-bold: 700;

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;

// Small tablets (portrait view)
$screen-md-min: 576px;

// Tablets and small desktops
$screen-lg-min: 769px;

// Large tablets and desktops
$screen-xl-min: 1024px;

//[TODO:] to be edited also.

//more glbals to come!
