// Colors
$primary-color: #db3434; 
$secondary-color: #2ecc71;
$gray-light: #ecf0f1;
$gray-dark: #2c3e50;

//[TODO:] values are fillers and should be edited. 


// Typography
$font-sans: 'Helvetica Neue', Arial, sans-serif;
$font-size-base: 16px;
$font-weight-bold: 700;

//[TODO:] to be edited also.


//more glbals to come!